.container {
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .container__inner {
  text-align: center;
}
.container .container__inner .title {
  margin-bottom: 30px;
  font-weight: bold;
  font-family: var(--ff-primary);
  font-size: 90px;
}
.container .container__inner .counter__num {
  margin-bottom: 25px;
  font-size: 70px;
}
.container .container__inner .counter__btn-wrap {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.container .container__inner .counter__btn {
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 7px;
  font-weight: bold;
  font-family: var(--ff-secondary);
  letter-spacing: var(--spacing);
  cursor: pointer;
}