body {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}
.popup .dimmed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.popup .gamestart,
.popup .gameover {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.popup .gamestart .title,
.popup .gameover .title {
  font-weight: bold;
  font-size: 35px;
}
.popup .gamestart p,
.popup .gameover p {
  margin-bottom: 15px;
  font-size: 22px;
}
.popup .gamestart button,
.popup .gameover button {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.point-box {
  display: flex;
  padding: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.point-box .timer {
  overflow: hidden;
  position: relative;
  width: 330px;
  height: 20px;
  margin-bottom: 15px;
  background-color: #c4c4c4;
  border-radius: 15px;
  user-select: none;
}
.point-box .timer .bar {
  width: 100%;
  height: 20px;
  border-radius: 15px;
  background-color: rgb(255, 175, 25);
}
.point-box .timer .timer-text {
  position: absolute;
  top: 50%;
  right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  transform: translateY(-50%);
}
.point-box .point-text {
  font-weight: bold;
  font-size: 25px;
  user-select: none;
}
.game-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 415px;
  height: 310px;
  gap: 5px;
}
.card {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  cursor: pointer;
}
.card-view {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  backface-visibility: hidden;
  user-select: none;
  pointer-events: none;
}
.card-view.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.card-view.back {
  transform: rotateY(180deg);
}
.card.flip .card-view.front {
  transform: rotateY(-180deg);
}
.card.flip .card-view.back {
  transform: rotateY(0deg);
}
.finish {
  margin-top: 10px;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* canvas가 클릭 이벤트를 방해하지 않도록 설정 */
  z-index: 9999;
}
/* .fireworks-container {
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.firework {
  position: absolute;
  font-size: 50px;
  opacity: 1;
  animation: firework-animation 2s infinite;
}

@keyframes firework-animation {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(calc(100px * (random() - 0.5)), calc(100px * (random() - 0.5))) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: translate(calc(500px * (random() - 0.5)), calc(500px * (random() - 0.5))) scale(0);
    opacity: 0;
  }
} */

@media (max-width: 360px) {
  .grid {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
}