.container {
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-grey-10);
}
.container .container__inner {
  margin: 81px 0;
  text-align: center;
}
.container .container__inner .title {
  position: relative;
  margin-bottom: 48px;
  font-weight: bold;
  font-family: var(--ff-primary);
  font-size: 39px;
  letter-spacing: 0.3rem;
}
.container .container__inner .title::after {
  display: inline-block;
  position: absolute;
  bottom: -17px;
  left: 50%;
  width: 80px;
  height: 5px;
  transform: translateX(-50%);
  background-color: #cba44d;
  content: '';
}
.menu__box .menu__category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.menu__box .menu__category .menu__category-btn {
  padding: 5px 7px;
  border-radius: 5px;
  border-color: #cba44d;
  background-color: transparent;
  color: #cba44d;
  font-size: 17px;
  letter-spacing: var(--spacing);
}
.menu__box .menu {
  margin-top: 40px;
}
.menu .menu__inner {
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 20px;
}
.menu .menu__inner .menu__item {
  display: flex;
  width: 650px;
  height: 150px;
}
.menu .menu__inner .menu__item .menu__image-wrap {
  overflow: hidden;
  width: 370px;
  height: 150px;
  border: 3px solid #cba44d;
  border-radius: 7px;
}
.menu .menu__inner .menu__item .menu__image-wrap img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}