.news {
  &__inner {
    max-width: 620px;
    margin: 0 auto;
  }

  .header {
    margin-bottom: 24px;

    &__title {
      font-size: 43px;
      font-weight: 600;
      word-break: keep-all;
    }

    &__product {
      display: flex;
      gap: 8px;
      margin: 20px 0;

      .product {
        &__byline {
          font-size: 15px;
          line-height: 18px;
        }
        &__date {
          font-size: 15px;
          line-height: 18px;
          &::before {
            display: inline-block;
            content: '';
            background: url('../images/timestamp.svg') no-repeat center;
            background-size: 35px auto;
            width: 20px;
            height: 20px;
            vertical-align: middle;
          }
        }
        &__more {
          &::before {
            display: inline-block;
            content: '';
            height: 18px;
            width: 1px;
            background: #979797;
          }
          a {
            font-size: 15px;
            line-height: 18px;
            vertical-align: top;
            margin-left: 8px;
            color: #bb1919;
          }
        }
      }
    }

    &__text {
      font-size: 17px;
      line-height: 21px;
      + .header__text {
        margin-top: 19px;
      }
    }
  }

  .container {
    .scroll {
      &__content {
        position: relative;
      }
      &__graphic {
        position: sticky;
        top: 0;
        height: 100vh;
        background-color: #f9f9f9;

        .graphic__item {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          opacity: 0;
          transition: opacity 0.5s;

          &-wrap {
            opacity: 0;
            position: relative;
            &.visible {
              opacity: 1;
              .floor-lift {
                &-up {
                  .ifl-work-building__floor {
                    &--ground {
                      animation: highlight-floor 0.4s normal forwards ease-in-out, highlight-floor 0.4s 0.6s reverse forwards ease-in-out;
                    }
                    &--1 {
                      animation: highlight-floor 0.3s 1s normal forwards ease-in-out, highlight-floor 0.3s 1.3s reverse forwards ease-in-out;
                    }
                    &--2 {
                      animation: highlight-floor 0.3s 1.3s normal forwards ease-in-out, highlight-floor 0.3s 1.6s reverse forwards ease-in-out;
                    }
                    &--3 {
                      animation: highlight-floor 0.3s 1.6s normal forwards ease-in-out, highlight-floor 0.3s 1.9s reverse forwards ease-in-out;
                    }
                    &--4 {
                      animation: highlight-floor 0.3s 1.9s normal forwards ease-in-out;
                    }
                  }
                }
                &-down {
                  .ifl-work-building__floor {
                    &--ground {
                      animation: highlight-floor 0.3s 1.9s normal forwards ease-in-out;
                    }
                    &--1 {
                      animation: highlight-floor 0.3s 1.6s normal forwards ease-in-out, highlight-floor 0.3s 1.9s reverse forwards ease-in-out;
                    }
                    &--2 {
                      animation: highlight-floor 0.3s 1.3s normal forwards ease-in-out, highlight-floor 0.3s 1.6s reverse forwards ease-in-out;
                    }
                    &--3 {
                      animation: highlight-floor 0.3s 1s normal forwards ease-in-out, highlight-floor 0.3s 1.3s reverse forwards ease-in-out;
                    }
                    &--4 {
                      animation: highlight-floor 0.4s normal forwards ease-in-out, highlight-floor 0.4s 0.6s reverse forwards ease-in-out;
                    }
                  }
                }
              }
            }
            .floor {
              width: 490px;
              position: absolute;
              top: 0;
              left: 48px;
              z-index: 1;
            }
            .graphic__item {
              left: auto;
              right: 18px;
              width: 795px;
              img {
                left: auto;
                right: 0;
                transform: none;
              }
            }
          }

          &.visible {
            opacity: 1;
          }
        }

        .isometric-ground-floor-highlights {
          position: absolute;
          top: 0;
          left: 48px;
          z-index: 5;
          width: 490px;
        }
      }

      &__bubble {
        position: relative;
        display: flex;
        justify-content: center;

        .bubble__step {
          margin-bottom: 60vh;
          &.hidden {
            min-height: 20vh;
          }
          .text {
            background: rgba(#fff, 0.9);
            border-radius: 5px;
            border: 1px solid #979797;
            padding: 20px;
            max-width: 416px;
            font-size: 17px;
            line-height: 20px;

            & + .text {
              margin-top: 10px;
            }
          }
        }
      }
    }
    .normal {
      &__article {
        margin-top: 25px;

        .article__img {
          margin-bottom: 20px;
        }

        .article__title {
          font-size: 27px;
          font-weight: 600;
          margin-bottom: 26px;
        }

        .text {
          font-size: 16px;
          line-height: 22px;
          & + .text {
            margin-top: 15px;
          }
        }
      }
    }
  }

  @keyframes highlight-floor {
    0% {
      opacity: 0.25;
      fill: #e6e6e6;
    }

    100% {
      opacity: 0.75;
      fill: #ffb407;
    }
  }
}
