.news__inner {
  max-width: 620px;
  margin: 0 auto;
}
.news .header {
  margin-bottom: 24px;
}
.news .header__title {
  font-size: 43px;
  font-weight: 600;
  word-break: keep-all;
}
.news .header__product {
  display: flex;
  gap: 8px;
  margin: 20px 0;
}
.news .header__product .product__byline {
  font-size: 15px;
  line-height: 18px;
}
.news .header__product .product__date {
  font-size: 15px;
  line-height: 18px;
}
.news .header__product .product__date::before {
  display: inline-block;
  content: "";
  background: url("../images/timestamp.svg") no-repeat center;
  background-size: 35px auto;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.news .header__product .product__more::before {
  display: inline-block;
  content: "";
  height: 18px;
  width: 1px;
  background: #979797;
}
.news .header__product .product__more a {
  font-size: 15px;
  line-height: 18px;
  vertical-align: top;
  margin-left: 8px;
  color: #bb1919;
}
.news .header__text {
  font-size: 17px;
  line-height: 21px;
}
.news .header__text + .header__text {
  margin-top: 19px;
}
.news .container .scroll__content {
  position: relative;
}
.news .container .scroll__graphic {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: #f9f9f9;
}
.news .container .scroll__graphic .graphic__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.news .container .scroll__graphic .graphic__item-wrap {
  opacity: 0;
  position: relative;
}
.news .container .scroll__graphic .graphic__item-wrap.visible {
  opacity: 1;
}
.news .container .scroll__graphic .graphic__item-wrap.visible .floor-lift-up .ifl-work-building__floor--ground {
  animation: highlight-floor 0.4s normal forwards ease-in-out, highlight-floor 0.4s 0.6s reverse forwards ease-in-out;
}
.news .container .scroll__graphic .graphic__item-wrap.visible .floor-lift-up .ifl-work-building__floor--1 {
  animation: highlight-floor 0.3s 1s normal forwards ease-in-out, highlight-floor 0.3s 1.3s reverse forwards ease-in-out;
}
.news .container .scroll__graphic .graphic__item-wrap.visible .floor-lift-up .ifl-work-building__floor--2 {
  animation: highlight-floor 0.3s 1.3s normal forwards ease-in-out, highlight-floor 0.3s 1.6s reverse forwards ease-in-out;
}
.news .container .scroll__graphic .graphic__item-wrap.visible .floor-lift-up .ifl-work-building__floor--3 {
  animation: highlight-floor 0.3s 1.6s normal forwards ease-in-out, highlight-floor 0.3s 1.9s reverse forwards ease-in-out;
}
.news .container .scroll__graphic .graphic__item-wrap.visible .floor-lift-up .ifl-work-building__floor--4 {
  animation: highlight-floor 0.3s 1.9s normal forwards ease-in-out;
}
.news .container .scroll__graphic .graphic__item-wrap.visible .floor-lift-down .ifl-work-building__floor--ground {
  animation: highlight-floor 0.3s 1.9s normal forwards ease-in-out;
}
.news .container .scroll__graphic .graphic__item-wrap.visible .floor-lift-down .ifl-work-building__floor--1 {
  animation: highlight-floor 0.3s 1.6s normal forwards ease-in-out, highlight-floor 0.3s 1.9s reverse forwards ease-in-out;
}
.news .container .scroll__graphic .graphic__item-wrap.visible .floor-lift-down .ifl-work-building__floor--2 {
  animation: highlight-floor 0.3s 1.3s normal forwards ease-in-out, highlight-floor 0.3s 1.6s reverse forwards ease-in-out;
}
.news .container .scroll__graphic .graphic__item-wrap.visible .floor-lift-down .ifl-work-building__floor--3 {
  animation: highlight-floor 0.3s 1s normal forwards ease-in-out, highlight-floor 0.3s 1.3s reverse forwards ease-in-out;
}
.news .container .scroll__graphic .graphic__item-wrap.visible .floor-lift-down .ifl-work-building__floor--4 {
  animation: highlight-floor 0.4s normal forwards ease-in-out, highlight-floor 0.4s 0.6s reverse forwards ease-in-out;
}
.news .container .scroll__graphic .graphic__item-wrap .floor {
  width: 490px;
  position: absolute;
  top: 0;
  left: 48px;
  z-index: 1;
}
.news .container .scroll__graphic .graphic__item-wrap .graphic__item {
  left: auto;
  right: 18px;
  width: 795px;
}
.news .container .scroll__graphic .graphic__item-wrap .graphic__item img {
  left: auto;
  right: 0;
  transform: none;
}
.news .container .scroll__graphic .graphic__item.visible {
  opacity: 1;
}
.news .container .scroll__graphic .isometric-ground-floor-highlights {
  position: absolute;
  top: 0;
  left: 48px;
  z-index: 5;
  width: 490px;
}
.news .container .scroll__bubble {
  position: relative;
  display: flex;
  justify-content: center;
}
.news .container .scroll__bubble .bubble__step {
  margin-bottom: 60vh;
}
.news .container .scroll__bubble .bubble__step.hidden {
  min-height: 20vh;
}
.news .container .scroll__bubble .bubble__step .text {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border: 1px solid #979797;
  padding: 20px;
  max-width: 416px;
  font-size: 17px;
  line-height: 20px;
}
.news .container .scroll__bubble .bubble__step .text + .text {
  margin-top: 10px;
}
.news .container .normal__article {
  margin-top: 25px;
}
.news .container .normal__article .article__img {
  margin-bottom: 20px;
}
.news .container .normal__article .article__title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 26px;
}
.news .container .normal__article .text {
  font-size: 16px;
  line-height: 22px;
}
.news .container .normal__article .text + .text {
  margin-top: 15px;
}
@keyframes highlight-floor {
  0% {
    opacity: 0.25;
    fill: #e6e6e6;
  }
  100% {
    opacity: 0.75;
    fill: #ffb407;
  }
}/*# sourceMappingURL=style.css.map */